<div id="myModal" class="modal" style='display: none'> <!-- The Modal -->
    <!-- Modal login template -->
    <!-- The use should see this modal block only when it's not logged in -->
    <div class="modal-content" id='login-template'>    
      <!-- close button of template -->
      <a name='close-modal' class="close">&times;</a>
      <!-- The modal block for login -->
      <div class='column' id='login-content'>
        <h2 class='modal-title'>Login</h2>
        <hr>
        <form class='column' id='login-form'>
          <label for="login-mail">Email:</label>
          <input type="email" id="login-mail" name="login-mail" required>
          <label for="login-pwd">Password:</label>
          <input type="password" id="login-pwd" name="login-pwd" required>
          <div class="alertForm" style="display: none"><span class="closebtn" onclick="this.parentElement.style.display= 'none';">&times;</span><span name='modal-alert'></span></div>
          <input type="submit" value="Submit" id='login-submit'>
        </form>
        <div class='modal-message row'>Don't have an account yet? <span id='show-signin'>Create Account</span></div>
        <div class='modal-message row'>Forgot your password? <span id='reset-password'>Reset Password</span></div>
      </div>

      <!-- The modal block for sign-in -->
      <div class='column' id='signin-content' style='display: none'>
          <h2 class='modal-title'>Create Account</h2>
          <hr>
          <form class='column' id='signin-form'>
            <label for="signin-name">Name</label>
            <input type="text" id="signin-name" name="signin-name" required>
            <label for="signin-mail">Email</label>
            <input type="email" id="signin-mail" name="signin-mail" required>
            <label for="signin-pwd">Password:</label>
            <input type="password" id="signin-pwd" name="signin-pwd" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.repeatpwd.pattern = this.value;" required>
            <label for="repeat-pwd">Repeat Password:</label>
            <input type="password" id="repeatpwd" name="repeatpwd" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" required>
            <div class="alertForm" style="display: none"><span class="closebtn" onclick="this.parentElement.style.display= 'none';">&times;</span><span name='modal-alert'></span></div>
            <input type="submit" value="Submit" id='signin-submit'>
          </form>
          <div class='modal-message'>Mail is needed for account verification.</div>
        </div>

      <!-- The modal block for reset password feature -->
      <div class='column' id='forgot-content' style='display: none'>
        <h2 class='modal-title'>Reset Password</h2>
        <hr>
        <form class='column' id='reset-form'>
          <label for="reset-mail">Email:</label>
          <input type="email" id="reset-mail" name="reset-mail" required>
          <div class="alertForm" style="display: none"><span class="closebtn" onclick="this.parentElement.style.display= 'none';">&times;</span><span name='modal-alert'></span></div>
          <input type="submit" value="Submit" id='reset-submit'>
        </form>
        <div class='modal-message'>You'll receive an email with instructions.</div>
      </div>
      <!-- The modal block for showing a msg when the user is not loggedin -->
      <div class='column' id='await-msg' style='display: none'>
          <h2 class='modal-title'><span name='msg-title'></span></h2>
          <hr>
          <div class='column'>
              <p>
                <span name='msg-content'></span>
              </p>
          </div>
      </div>
    </div>

    <!-- Modal loggged template -->
    <!-- The use should see this modal block ONLY when it IS logged in -->
    <div class="modal-content" id='logged-template' style='display: none'>
        <!-- close button of template -->
        <a name='close-modal' class="close">&times;</a>
        <!-- The modal block for welcome msg -->
        <div class='column' id='modal-welcome' style='display: none'>
          <h2 class='modal-title'>Welcome!</h2>
          <hr>
          <div class='column'>
              <p>
                  Hi <span name='modal-user-name'></span>, you are already logged in. Have a nice one!
              </p>
              <a class='form-var-route' id='acknowledge-login'>Ok, continue.</a>
          </div>
        </div>
        <!-- The modal block for the user's dashboard -->
        <div class='column' id='modal-dashboard' style='display: none'>
          <h2 class='modal-title'><span name='modal-user-name'></span></h2>
          <hr>
          <div class='column'>
                <span class='form-var-route' id='show-change-pwd'>Change Password</span>
                <a href="/user/out" class='form-var-route'>Logout</a>
          </div>
        </div>
        <!-- The modal block for the change password feature -->
        <div class='column' id='change-pwd-modal' style='display: none'>
          <h2 class='modal-title'>Change Password</h2>
          <hr>
          <form class='column' id='change-pwd-form'>
            <label for="old-pwd">Old Password:</label>
            <input type="password" id="old-pwd" name="old-pwd" required>
            <label for="new-pwd">Password:</label>
            <input type="password" id="new-pwd" name="new-pwd" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.repeatnewpwd.pattern = this.value;" required>
            <label for="repeatnewpwd">Repeat Password:</label>
            <input type="password" id="repeatnewpwd" name="repeatnewpwd" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" required>
            <div class="alertForm" style="display: none"><span class="closebtn" onclick="this.parentElement.style.display= 'none';">&times;</span><span name='modal-alert'></span></div>
            <input type="submit" value="Submit" id='change-pwd-submit'>
          </form>
          <div class='modal-message'>Password will change on submit!</div>
        </div>
        <!-- The modal block to show a msg to the already logged-in user -->
        <div class='column' id='modal-msg' style='display: none'>
          <h2 class='modal-title'><span id='msg-title'></span></h2>
          <hr>
          <div class='column'>
              <p>
                  <span id='msg-content'></span>
              </p>
          </div>
        </div>
        <!-- The modal block to for javascript generated forms that we wanna get into the modal, if any -->
        <div class='column' id='modal-form' style='display: none'>
          <h2 class='modal-title'></h2>
          <hr>
              <form class='column' id='variable-form'>
                <div class='modal-message'></div>
                <div class="column" id='variable-form-content'></div>
                <div class="alertForm" style="display: none"><span class="closebtn" onclick="this.parentElement.style.display= 'none';">&times;</span><span name='modal-alert'></span></div>
                <input type="submit" value="Submit" id='variable-form-submit'>
              </form>
          </div>
    </div>

    <!-- Modal error template -->
    <!-- user should see this for not catched errors on ajax calls -->
    <div class="modal-content" id='errors-template' style='display: none'>
        <!-- close button of template -->
        <a name='close-modal' class="close">&times;</a>
        <!-- The modal block to show the error, general error display,
             maybe there could be more section/error/status specific or
             whatever feels apropiate -->
        <div class='column' id='modal-error'>
            <h2 class='modal-title'>Whoops!</span></h2>
            <hr>
            <div class='column'>
                
                <p>Sorry, there's been some kind of error. If the error persists please send a report.</p>
                <div class='columm' id='error-container'>
                  <b>URL: </b> <span id='error-url'></span> <br>
                  <b>Status: </b> <span id='error-status'></span> <br>
                  <b>Status Text: </b> <span id='error-statusText'></span> <br>
                  <b>Message: </b> <span id='error-msg'></span> <br><br>
                  <pre id='error-stack'></pre>
                </div>
                <a class='form-var-route'>Send Report</a>
                <a class='form-var-route'>Try again</a>
            </div>
        </div>
    </div>
</div>