<div id="footer">
    <div class="footer-item">
      <i class="fa fa-envelope-square"></i>
    </div>
    <div class="footer-item">
      <i class="fa fa-phone-square"></i>
    </div>
    <div class="footer-item">
      <a href="#" onclick="event.preventDefault(); window.open('https://github.com/AlfredoThill/codeChallange-Blackstone');" class="fa fa-github"></a> 
    </div>
    <div class="footer-item">
      <a href="#" onclick="event.preventDefault(); window.open('https://www.linkedin.com/in/alfredo-thill-b93a7919b/');" class="fa fa-linkedin"></a>
    </div> 
</div> 