<div id="menu" class="topnav">
  <a href="/" name='home'>Home</a>
  <a href="#/" name='tasks'>Tasks</a>
  <a href="/about" name='about'>About</a>
  <span id='show-modal'>Login</span>
</div>
<div class="banner">
  <img src="../img/wallpaper.jpg">
</div>