    <table class="tasks-table horizontal">
        <tr>
            <th>Task</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Due Date</th>
            <th>Completed</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Do website</td>
            <td>Make a simple app as part of an interview test.</td>
            <td>02/02/2021</td>
            <td>08/02/2021</td>
            <td class="done">
               <span>Yes</span> 
            </td>
            <td>
              <div class="actions-container">
                <div class="tooltip-container">
                    <img class="action-img" src="/img/actions/tick.png">
                    <span class="tooltip bottom">Mark as completed</span>
                </div> 
                <div class="tooltip-container">
                    <img class="action-img" src="/img/actions/edit.png">
                    <span class="tooltip bottom">Edit</span>
                </div> 
                <div class="tooltip-container">
                    <img class="action-img" src="/img/actions/erase.png"> 
                    <span class="tooltip bottom">Delete</span>
                </div> 
              </div>  
            </td>
        </tr>
    </table>

    <table class="tasks-table vertical">
        <tr>
            <th>Actions</th>
            <td>
              <div class="actions-container">
                <div class="tooltip-container">
                    <img class="action-img" src="/img/actions/tick.png">
                    <span class="tooltip bottom">Mark as completed</span>
                </div> 
                <div class="tooltip-container">
                    <img class="action-img" src="/img/actions/edit.png">
                    <span class="tooltip bottom">Edit</span>
                </div> 
                <div class="tooltip-container">
                    <img class="action-img" src="/img/actions/erase.png"> 
                    <span class="tooltip bottom">Delete</span>
                </div> 
              </div>  
            </td>
        </tr>
        <tr>
           <th>Task</th>
           <td>Do website</td>
        </tr>
         <tr>
           <th>Description</th>
           <td>Make a simple app as part of an interview test.</td>
        </tr>
        <tr>
           <th>Completed</th> 
           <td class="done">
              <span>Yes</span> 
           </td>
        </tr>
        
        <tr><td colspan="2" style="border: white"></td></tr>
    </table>
