<div>
<section class="view" name="about">
    <h1># codeChallange-Blackstone</h1>
    <h2>This is a minimal app as requested in a job interview by 'Blackstone'. Once finished this will contain notes and such.</h2>
</section>
</div>