<div>
<section class="view" name="about">
    # codeChallange-Blackstone
    This is a minimal app as requested in a job interview by 'Blackstone'. Once finished this will contain notes and such.
</section>
</div>