<section id="home-section">

    <h2>Welcome to the Task Manager</h2>

    <div class="flex-container">
        <div class="flex-column">
            <a class="flex-item background-img one">
                <div>
                    <h1 class="title">Keep Track of your tasks</h1>
                    <p class="sub-title">05/02/2021</p>
                </div>
            </a>
            <a class="flex-item background-img two">
                <div>
                    <h1 class="title">Schedule on a Daily Basis</h1>
                    <p class="sub-title">05/02/2021</p>
                </div>
            </a>
        </div>
        <div class="flex-column">
            <a class="flex-item background-img three">
                <div>
                    <h1 class="title">Analize your Performance</h1>
                    <p class="sub-title">05/02/2021</p>
                </div>
            </a>
        </div>
        <div class="flex-column">
            <a class="flex-item background-img four">
                <div>
                    <h1 class="title">Keep Improving</h1>
                    <p class="sub-title">05/02/2021</p>
                </div>
            </a>
             <a class="flex-item background-img five">
                <div>
                    <h1 class="title">Get to work!</h1>
                    <p class="sub-title">05/02/2021</p>
                </div>
            </a>
        </div>
    </div>

</section>