<!DOCTYPE html>
<html>
  <head>
    <title>Code Challange</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/sty-general.css' />
  </head>

   <body id='layout-body'>
    {{> menu }}
    {{> dashboard }}

    {{{body}}}
    
    {{> footer }}
   </body>

    <script src="/javascripts/layout.js"></script>
    <script src="/javascripts/helpers/ajax-helper.js"></script> 
    <script src="/javascripts/modal.js"></script>
  </body>
</html>