<div>
<section class="view" name="tasks">
    <h2>Manage your tasks</h2>
    <hr>
    <div class="table-container column">
        <button name="add-task">Add a Task</button>
        {{!-- To be loaded with ajax --}}
        <div name="tables">
            <h3 style="text-align: center;">You've got no tasks yet... add one!</h3>
        </div>
    </div>
    <hr>
</section>
</div>  