/* ----------------------- Menu ----------------------- */
.topnav {
    overflow: hidden;
    background-color: #333;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
    min-height: 60px;
    flex: 0 0;
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
    .topnav a, .topnav span {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        cursor: pointer;
        font-weight: bolder;
    }
    #show-modal {
        margin-left: auto;
        margin-right: auto;
    }
        .topnav a:hover, .topnav span:hover {
            background-color: #ddd;
            color: black;
        }
        .topnav .active-nav {
            background-color:black;
            color: rgb(19, 179, 59);
        }
    .banner {
        width: 100%;
        height: 35vh;
    }    
        .banner > img {
            width:100%;
            height:100%;
            object-fit:cover;
        }  